<section id="home" class="home_bg" style="background-image: url({{ theme_url() }}assets/images/1.png);  background-size:cover; background-position: center center;">
    <div id="particles-js"></div>
    <nav class="navbar navbar-toggleable-sm navbar-light">
        <div class="container w-mobile-100 menu-mobile-container">
            <button class="navbar-toggler justify-content-end" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarLang">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.link }}">
                            <img width="32" height="20" src="{{ theme_url() }}assets/images/vi.svg" alt="">
                            Tiếng Việt
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.link }}/en">
                            <img width="32" height="20" src="{{ theme_url() }}assets/images/en.svg" alt="">
                            English
                        </a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse justify-content-end d-mobile" id="navbarCollapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/">TỔNG QUAN</a></li>
                    <li class="nav-item"><a class="nav-link" href="/tin-tuc#tin-tuc">TIN TỨC</a></li>
                    <li class="nav-item"><a class="nav-link" href="/tin-tuc#question_2222">HỎI ĐÁP</a></li>
                </ul>
            </div>
        </div><!--- END CONTAINER -->
    </nav>
    <div class="container">
        <div class="row pb-4">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="hero-text mt-md-5 pt-2 text-center">
                    <img src="{{ theme_url() }}assets/images/logo.png" class="img-fluid mb-4" style="width: 360px" alt="">
                    <div>
                        <img  class="img-fluid lazy slider-text-img" src="{{ theme_url() }}assets/images/slider-text.png" alt="">
                    </div>
                </div>
            </div><!-- END COL-->
            <div class="col-lg-12 mt-md-5 d-none d-sm-block menu wow fadeInUp text-center" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="btn">
                    <a href="/">TỔNG QUAN</a>
                </div>
                <div class="btn">
                    <a href="/tin-tuc#tin-tuc">TIN TỨC</a>
                </div>
                <div class="btn">
                    <a href="/tin-tuc#question_2222">HỎI ĐÁP</a>
                </div>
            </div>
        </div><!-- END ROW-->
    </div>
    <a href="#about" class="next-section scroll-to fa fa-angle-down ega-hidden ega-block--sm"></a>
</section>